
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <form method="post" action="/account/login">
        <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]"/>
        Name:<input type="text" name="UserName"/><br/>
        Pass:<input type="password" name="Password"/><br/>
        <button type="submit">Login</button>
    </form>
</body>
</html>
