
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <form action="/account/login" method="post">
        <input type="hidden" name="ReturnUrl" value="@ViewBag.returnUrl"/>
        Name:<input type="text" name="Username"/><br/>
        Pass:<input type="password" name="Password"/><br/>
        <button type="submit">Login</button>
    </form>
</body>
</html>
