@model List<Customer>
@using Demo.Model
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <ul>
        @foreach (Customer c in Model)
        {
            <li>@c.Name</li>
        }
    </ul>
    
</body>
</html>
